.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl;
}

.loginForms {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 300px;
}

.imgLogin {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.imgsLogin {
    margin-right: 50px;
}

.parLogin {
    margin-bottom: 10px;
     font-size: 16px;
}

.loginPut {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px
}

.paraLogin {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #888;
}

.loginLink {
    color: blue;
}

.loginButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer; 
}